#tooltip {
    opacity: 0;
    margin-top: -8px; // vertical distance from mouse pointer or tap point
    transition: opacity 0.05s ease-in-out;
    position: fixed;
    z-index: 2; // the highest among all page elements
    // border-radius: ...
    // background: ...
    // box-shadow: ...
    // padding: ...
    // line-height: ...
    // color: ...
    // font-size: ...
    // font-weight: ...
}
